/* ==========================
      AUTH PAGES
========================== */
body{
    background-color: #000;
}

.authPage{

    width:100vw;

    height:100vh;


    display:flex;

    justify-content:center;

    align-items:center;


    background:#000;

}



.authBox{

    width:92%;

    max-width:420px;


    padding:25px;


    background:#111;


    border-radius:18px;


    display:flex;

    flex-direction:column;

    gap:15px;

}



.authBox h1,
.authBox h2{

    color:white;

    text-align:center;

}



.authBox input{

    padding:14px;

    border:none;

    border-radius:10px;

    font-size:16px;

}



.authBox button{

    padding:14px;


    border:none;

    border-radius:10px;


    background:#00b7ff;

    color:white;


    font-size:17px;

    font-weight:bold;

}



.authBox p{

    color:white;

    text-align:center;

}



.authBox a{

    color:#00b7ff;

    text-decoration:none;

}